<footer>

<div id="footermenu" class="inner">
	<ul>
		<li class="title">サイトメニュー</li>
		<li><a href="#">ホーム</a></li>
		<li><a href="#">コンセプト</a></li>
		<li><a href="#">小説情報投稿</a></li>
		<li><a href="#">検索</a></li>
		<li><a href="#">お問い合わせ</a></li>
		<li><%= link_to new_area_path do %>管理者ページ<% end %></li>
	</ul>
</div>
<!--/footermenu-->

<div id="copyright">
<small>Copyright&copy;さんぷる道の駅 All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</div>

</footer>

<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>


</script>

<!--パララックス用ファイル読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js"></script>
<script src="js/jquery.inview_set.js"></script>