<body class="home">
<%= render "shared/header" %>
<div class="contents">
<div class="inner">

<section>
 <h2 class="simple">投稿が完了しました</h2>
  <p>
    <strong class="color1">
    <%= link_to 'さらに小説情報を投稿する', new_novel_path %><br>
    <%= link_to 'ホームに戻る', novels_path %></strong>
  </p>


</section>
</div>
<!--/.inner-->
</div>
<!--/.contents-->

<%= render "shared/footer" %>