<body class="home">
<%= render "shared/header" %>
<div class="contents">
<div class="inner">

	<section>
  <h2>簡易検索</h2>
	<h2 class="simple">検索Box</h2>
	<p class="c">ここに検索Boxを設置する</p>

	</section>

</div>
<!--/.inner-->
</div>
<!--/.contents-->

<div class="contents bg2">
<div class="inner">

	<section>

	<h2 class="simple">最近の投稿</h2>
	<p class="c">最近の投稿８〜１０件を一覧表示する</p>

  <div class="box2">
	<h4>ハリー・ポッターと賢者の石</h4>
	<p>作者: J.K.ローリング<br>
    発売年: 〇〇〇〇<br>
    舞台:イギリス/イギリス,ロンドン</p>

	
	<span class="date">new</span>
	</div>

	</section>

</div>
<!--/.inner-->
</div>
<!--/.contents-->

<%= render "shared/footer" %>

</body>
</html>
